@model IEnumerable<LIONFIT.Models.Pedido>
@{
    ViewData["Title"] = "Pedido";  
}

<div class="cuerpo-pedidos">
<h1 class="titulo-pedido">Pedidos</h1>


<table class="table">
    <thead>
        <tr>
            <th class="centraitems-pedido">
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th class="centraitems-pedido">
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th class="centraitems-pedido">
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="centraitems-pedido">
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td class="centraitems-pedido">
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td class="centraitems-pedido">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        </tr>
}
    </tbody>
</table>

</div>