@model LIONFIT.Models.Producto

@{
    ViewData["Title"] = "Delete";
}

<div class="container container-eliminar contenedor-padre">
<h1 class="titulo-producto">ELIMINAR PRODUCTO</h1>
<div>
        <hr/>
<h3 class="titulo-producto">Estas seguro que quieres Borrar el producto?</h3>
 <br>
    </div>
    <dl class="row div-hijo"">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    
    <form class="div-hijo" asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="ELIMINAR" class="btn btn-danger" style="font-size: 17px;"/> |
        <a asp-action="Index"  class="btn btn-danger">REGRESAR</a>
    </form>
</div>
