@model LIONFIT.Models.Producto

@{
    ViewData["Title"] = "Detalles del Producto";
}
  <div class="container">
    <div class="titulo-producto">
      <h1>Detalles del Producto</h1>
    </div>
    <br>
    <div class="container_details">
            <div class="col-sm-3">
              <div class="card card-d mb-3 neon">
                <div class="card-body">
                  <div class="card-img-actions">
                    <img class="img-responsive" width="96" height="150"
                       src="@Html.DisplayFor(model => model.Imagen)" alt="@Html.DisplayFor(model => model.Imagen)"  />
                  </div>
                </div>
                <div class="card-body card-des card card-d mb-3 text-center">
                  <h5 class="card-title card-title1">@Html.DisplayFor(model => model.NomProducto)</h5>
                  <p class="card-text card-text1">@Html.DisplayFor(model => model.DesProducto)</p>
                  <h5 class="card-title card-title1">@Html.DisplayFor(model => model.Precio)</h5>
                  <a class="btn btn-primary btn1" asp-action="Add" asp-route-id="@Model.Id">Add</a>
                </div>
              </div>
            </div>
      </div>
    </div>